In [374]:
import matplotlib.pyplot as plt
import pandas as pd
import pylab as pl
import numpy as np
%matplotlib inline

In [375]:
chembl_file_path = '../proj1/chembl.csv'
df = pd.read_csv(chembl_file_path, delimiter=",")
df.head()

,canonical_smiles,molecule_chembl_id,standard_type,standard_units,standard_value,target_chembl_id,target_organism,target_pref_name,type,units,value
0,NC(=O)c1ncn([C@@H]2C=C(CO)[C@@H](O)[C@H]2O)n1,CHEMBL204499,IC50,nM,100000.0,CHEMBL612575,SARS coronavirus,SARS coronavirus,IC50,uM,100.0
1,NC(=O)c1cn([C@@H]2C=C(CO)[C@@H](O)[C@H]2O)nn1,CHEMBL203308,IC50,nM,100000.0,CHEMBL612575,SARS coronavirus,SARS coronavirus,IC50,uM,100.0
2,NC(=O)c1cn([C@@H]2C=C(CO)[C@@H](O)[C@H]2O)cn1,CHEMBL381539,IC50,nM,100000.0,CHEMBL612575,SARS coronavirus,SARS coronavirus,IC50,uM,100.0
3,Nc1nc(O)c2[nH]cc([C@@H]3C=C(CO)[C@@H](O)[C@H]3...,CHEMBL225045,IC50,nM,100000.0,CHEMBL612575,SARS coronavirus,SARS coronavirus,IC50,uM,100.0
4,O=c1[nH]cc([C@@H]2C=C(CO)[C@@H](O)[C@H]2O)c(=O...,CHEMBL224363,IC50,nM,100000.0,CHEMBL612575,SARS coronavirus,SARS coronavirus,IC50,uM,100.0

In [376]:
df2 = df[df.standard_value.notna()]
df2

,canonical_smiles,molecule_chembl_id,standard_type,standard_units,standard_value,target_chembl_id,target_organism,target_pref_name,type,units,value
0,NC(=O)c1ncn([C@@H]2C=C(CO)[C@@H](O)[C@H]2O)n1,CHEMBL204499,IC50,nM,100000.0,CHEMBL612575,SARS coronavirus,SARS coronavirus,IC50,uM,100.0
1,NC(=O)c1cn([C@@H]2C=C(CO)[C@@H](O)[C@H]2O)nn1,CHEMBL203308,IC50,nM,100000.0,CHEMBL612575,SARS coronavirus,SARS coronavirus,IC50,uM,100.0
2,NC(=O)c1cn([C@@H]2C=C(CO)[C@@H](O)[C@H]2O)cn1,CHEMBL381539,IC50,nM,100000.0,CHEMBL612575,SARS coronavirus,SARS coronavirus,IC50,uM,100.0
3,Nc1nc(O)c2[nH]cc([C@@H]3C=C(CO)[C@@H](O)[C@H]3...,CHEMBL225045,IC50,nM,100000.0,CHEMBL612575,SARS coronavirus,SARS coronavirus,IC50,uM,100.0
4,O=c1[nH]cc([C@@H]2C=C(CO)[C@@H](O)[C@H]2O)c(=O...,CHEMBL224363,IC50,nM,100000.0,CHEMBL612575,SARS coronavirus,SARS coronavirus,IC50,uM,100.0
...,...,...,...,...,...,...,...,...,...,...,...
353,CC(C)C[C@H](NC(=O)OC1(Cc2ccccc2)CCN(S(C)(=O)=O...,CHEMBL4208764,IC50,nM,4300.0,CHEMBL5118,SARS coronavirus,Replicase polyprotein 1ab,IC50,uM,4.3
354,CCC1(OC(=O)N[C@@H](CC(C)C)C(=O)N[C@H](C=O)C[C@...,CHEMBL4212620,IC50,nM,5500.0,CHEMBL5118,SARS coronavirus,Replicase polyprotein 1ab,IC50,uM,5.5
355,CCC1(OC(=O)N[C@@H](CC(C)C)C(=O)N[C@@H](C[C@@H]...,CHEMBL4216101,IC50,nM,4100.0,CHEMBL5118,SARS coronavirus,Replicase polyprotein 1ab,IC50,uM,4.1
356,CCOC(=O)N1CCC(OC(=O)N[C@@H](CC(C)C)C(=O)N[C@H]...,CHEMBL4217568,IC50,nM,3200.0,CHEMBL5118,SARS coronavirus,Replicase polyprotein 1ab,IC50,uM,3.2
357,CCOC(=O)N1CCC(OC(=O)N[C@@H](CC(C)C)C(=O)N[C@@H...,CHEMBL4204431,IC50,nM,8800.0,CHEMBL5118,SARS coronavirus,Replicase polyprotein 1ab,IC50,uM,8.8

In [377]:
bioactivity_class = []
for i in df2.standard_value:
  if float(i) >= 10000:
    bioactivity_class.append("inactive")
  elif float(i) <= 1000:
    bioactivity_class.append("active")
  else:
    bioactivity_class.append("intermediate")

In [378]:
selection = ['canonical_smiles', 'molecule_chembl_id', 'standard_value']
df3 = df2[selection]
df3

,canonical_smiles,molecule_chembl_id,standard_value
0,NC(=O)c1ncn([C@@H]2C=C(CO)[C@@H](O)[C@H]2O)n1,CHEMBL204499,100000.0
1,NC(=O)c1cn([C@@H]2C=C(CO)[C@@H](O)[C@H]2O)nn1,CHEMBL203308,100000.0
2,NC(=O)c1cn([C@@H]2C=C(CO)[C@@H](O)[C@H]2O)cn1,CHEMBL381539,100000.0
3,Nc1nc(O)c2[nH]cc([C@@H]3C=C(CO)[C@@H](O)[C@H]3...,CHEMBL225045,100000.0
4,O=c1[nH]cc([C@@H]2C=C(CO)[C@@H](O)[C@H]2O)c(=O...,CHEMBL224363,100000.0
...,...,...,...
353,CC(C)C[C@H](NC(=O)OC1(Cc2ccccc2)CCN(S(C)(=O)=O...,CHEMBL4208764,4300.0
354,CCC1(OC(=O)N[C@@H](CC(C)C)C(=O)N[C@H](C=O)C[C@...,CHEMBL4212620,5500.0
355,CCC1(OC(=O)N[C@@H](CC(C)C)C(=O)N[C@@H](C[C@@H]...,CHEMBL4216101,4100.0
356,CCOC(=O)N1CCC(OC(=O)N[C@@H](CC(C)C)C(=O)N[C@H]...,CHEMBL4217568,3200.0
357,CCOC(=O)N1CCC(OC(=O)N[C@@H](CC(C)C)C(=O)N[C@@H...,CHEMBL4204431,8800.0

In [379]:
bioactivity_class = pd.Series(bioactivity_class, name='bioactivity_class')
df4 = pd.concat([df3, bioactivity_class], axis=1)
df4

,canonical_smiles,molecule_chembl_id,standard_value,bioactivity_class
0,NC(=O)c1ncn([C@@H]2C=C(CO)[C@@H](O)[C@H]2O)n1,CHEMBL204499,100000.0,inactive
1,NC(=O)c1cn([C@@H]2C=C(CO)[C@@H](O)[C@H]2O)nn1,CHEMBL203308,100000.0,inactive
2,NC(=O)c1cn([C@@H]2C=C(CO)[C@@H](O)[C@H]2O)cn1,CHEMBL381539,100000.0,inactive
3,Nc1nc(O)c2[nH]cc([C@@H]3C=C(CO)[C@@H](O)[C@H]3...,CHEMBL225045,100000.0,inactive
4,O=c1[nH]cc([C@@H]2C=C(CO)[C@@H](O)[C@H]2O)c(=O...,CHEMBL224363,100000.0,inactive
...,...,...,...,...
353,CC(C)C[C@H](NC(=O)OC1(Cc2ccccc2)CCN(S(C)(=O)=O...,CHEMBL4208764,4300.0,intermediate
354,CCC1(OC(=O)N[C@@H](CC(C)C)C(=O)N[C@H](C=O)C[C@...,CHEMBL4212620,5500.0,intermediate
355,CCC1(OC(=O)N[C@@H](CC(C)C)C(=O)N[C@@H](C[C@@H]...,CHEMBL4216101,4100.0,intermediate
356,CCOC(=O)N1CCC(OC(=O)N[C@@H](CC(C)C)C(=O)N[C@H]...,CHEMBL4217568,3200.0,intermediate
357,CCOC(=O)N1CCC(OC(=O)N[C@@H](CC(C)C)C(=O)N[C@@H...,CHEMBL4204431,8800.0,intermediate

In [380]:
from rdkit import Chem
from rdkit.Chem import Descriptors, Lipinski

In [381]:
def lipinski(smiles, verbose=False):

    moldata= []
    for elem in smiles:
        mol=Chem.MolFromSmiles(elem) 
        moldata.append(mol)
       
    baseData= np.arange(1,1)
    i=0  
    for mol in moldata:        
       
        desc_MolWt = Descriptors.MolWt(mol)
        desc_MolLogP = Descriptors.MolLogP(mol)
        desc_NumHDonors = Lipinski.NumHDonors(mol)
        desc_NumHAcceptors = Lipinski.NumHAcceptors(mol)
           
        row = np.array([desc_MolWt,
                        desc_MolLogP,
                        desc_NumHDonors,
                        desc_NumHAcceptors])   
    
        if(i==0):
            baseData=row
        else:
            baseData=np.vstack([baseData, row])
        i=i+1      
    
    columnNames=["MW","LogP","NumHDonors","NumHAcceptors"]   
    descriptors = pd.DataFrame(data=baseData,columns=columnNames)
    
    return descriptors

In [382]:
df_lipinski = lipinski(df4.canonical_smiles)

In [383]:
df_lipinski

          MW    LogP  NumHDonors  NumHAcceptors
0    240.219 -2.4278         4.0            7.0
1    240.219 -2.4278         4.0            7.0
2    239.231 -1.8228         4.0            6.0
3    278.268 -1.0166         6.0            7.0
4    240.215 -2.1991         5.0            5.0
..       ...     ...         ...            ...
353  668.767 -2.9572         4.0           10.0
354  524.659  2.5169         3.0            7.0
355  628.721 -1.8144         4.0           10.0
356  468.551  0.9581         3.0            7.0
357  572.613 -3.3732         4.0           10.0

[358 rows x 4 columns]

In [384]:
df_combined = pd.concat([df4,df_lipinski], axis=1)

In [385]:
df_combined

,canonical_smiles,molecule_chembl_id,standard_value,bioactivity_class,MW,LogP,NumHDonors,NumHAcceptors
0,NC(=O)c1ncn([C@@H]2C=C(CO)[C@@H](O)[C@H]2O)n1,CHEMBL204499,100000.0,inactive,240.219,-2.4278,4.0,7.0
1,NC(=O)c1cn([C@@H]2C=C(CO)[C@@H](O)[C@H]2O)nn1,CHEMBL203308,100000.0,inactive,240.219,-2.4278,4.0,7.0
2,NC(=O)c1cn([C@@H]2C=C(CO)[C@@H](O)[C@H]2O)cn1,CHEMBL381539,100000.0,inactive,239.231,-1.8228,4.0,6.0
3,Nc1nc(O)c2[nH]cc([C@@H]3C=C(CO)[C@@H](O)[C@H]3...,CHEMBL225045,100000.0,inactive,278.268,-1.0166,6.0,7.0
4,O=c1[nH]cc([C@@H]2C=C(CO)[C@@H](O)[C@H]2O)c(=O...,CHEMBL224363,100000.0,inactive,240.215,-2.1991,5.0,5.0
...,...,...,...,...,...,...,...,...
353,CC(C)C[C@H](NC(=O)OC1(Cc2ccccc2)CCN(S(C)(=O)=O...,CHEMBL4208764,4300.0,intermediate,668.767,-2.9572,4.0,10.0
354,CCC1(OC(=O)N[C@@H](CC(C)C)C(=O)N[C@H](C=O)C[C@...,CHEMBL4212620,5500.0,intermediate,524.659,2.5169,3.0,7.0
355,CCC1(OC(=O)N[C@@H](CC(C)C)C(=O)N[C@@H](C[C@@H]...,CHEMBL4216101,4100.0,intermediate,628.721,-1.8144,4.0,10.0
356,CCOC(=O)N1CCC(OC(=O)N[C@@H](CC(C)C)C(=O)N[C@H]...,CHEMBL4217568,3200.0,intermediate,468.551,0.9581,3.0,7.0
357,CCOC(=O)N1CCC(OC(=O)N[C@@H](CC(C)C)C(=O)N[C@@H...,CHEMBL4204431,8800.0,intermediate,572.613,-3.3732,4.0,10.0

In [386]:
import numpy as np

def pIC50(input):
    pIC50 = []

    for i in input['standard_value']:
        molar = i*(10**-9) # Converts nM to M
        pIC50.append(-np.log10(molar))

    input['pIC50'] = pIC50
    x = input.drop('standard_value', 1)
        
    return x

In [387]:
df_final = pIC50(df_combined)
df_final.head(5)

,canonical_smiles,molecule_chembl_id,bioactivity_class,MW,LogP,NumHDonors,NumHAcceptors,pIC50
0,NC(=O)c1ncn([C@@H]2C=C(CO)[C@@H](O)[C@H]2O)n1,CHEMBL204499,inactive,240.219,-2.4278,4.0,7.0,4.0
1,NC(=O)c1cn([C@@H]2C=C(CO)[C@@H](O)[C@H]2O)nn1,CHEMBL203308,inactive,240.219,-2.4278,4.0,7.0,4.0
2,NC(=O)c1cn([C@@H]2C=C(CO)[C@@H](O)[C@H]2O)cn1,CHEMBL381539,inactive,239.231,-1.8228,4.0,6.0,4.0
3,Nc1nc(O)c2[nH]cc([C@@H]3C=C(CO)[C@@H](O)[C@H]3...,CHEMBL225045,inactive,278.268,-1.0166,6.0,7.0,4.0
4,O=c1[nH]cc([C@@H]2C=C(CO)[C@@H](O)[C@H]2O)c(=O...,CHEMBL224363,inactive,240.215,-2.1991,5.0,5.0,4.0

In [388]:
df_2class = df_final[df_final.bioactivity_class != 'intermediate']
df_2class

,canonical_smiles,molecule_chembl_id,bioactivity_class,MW,LogP,NumHDonors,NumHAcceptors,pIC50
0,NC(=O)c1ncn([C@@H]2C=C(CO)[C@@H](O)[C@H]2O)n1,CHEMBL204499,inactive,240.219,-2.4278,4.0,7.0,4.000000
1,NC(=O)c1cn([C@@H]2C=C(CO)[C@@H](O)[C@H]2O)nn1,CHEMBL203308,inactive,240.219,-2.4278,4.0,7.0,4.000000
2,NC(=O)c1cn([C@@H]2C=C(CO)[C@@H](O)[C@H]2O)cn1,CHEMBL381539,inactive,239.231,-1.8228,4.0,6.0,4.000000
3,Nc1nc(O)c2[nH]cc([C@@H]3C=C(CO)[C@@H](O)[C@H]3...,CHEMBL225045,inactive,278.268,-1.0166,6.0,7.0,4.000000
4,O=c1[nH]cc([C@@H]2C=C(CO)[C@@H](O)[C@H]2O)c(=O...,CHEMBL224363,inactive,240.215,-2.1991,5.0,5.0,4.000000
...,...,...,...,...,...,...,...,...
342,CC(=O)N[C@@H](CC(=O)O)C(=O)N[C@@H](CO)C(=O)N[C...,CHEMBL3818400,inactive,604.614,-4.3257,10.0,10.0,5.000000
343,CC(=O)N[C@@H](Cc1cnc[nH]1)C(=O)N[C@@H](CO)C(=O...,CHEMBL3818761,inactive,626.668,-3.8346,10.0,10.0,4.301030
345,CC(=O)N[C@@H](CC(N)=O)C(=O)N[C@@H](CO)C(=O)N[C...,CHEMBL3818028,inactive,605.558,-6.4964,11.0,11.0,4.698970
348,CC(C)C[C@H](NC(=O)OC1CCN(S(C)(=O)=O)CC1)C(=O)N...,CHEMBL4209146,inactive,474.580,-0.2388,3.0,7.0,4.540608
349,CC(C)C[C@H](NC(=O)OC1CCN(S(C)(=O)=O)CC1)C(=O)N...,CHEMBL4213159,inactive,578.642,-4.5701,4.0,10.0,4.375718

In [389]:
selection = ['canonical_smiles']
df_new = df_2class[selection]
#saving Smiles notation of molecules in smiles format file
df_new.to_csv('smile2mol.smi',sep='\t', index=False, header=False)

In [390]:
# Using MORDRED DESCRIPTOR, we get the descriptor information
# stored in descriptors.csv file

In [391]:
# preparing the X and Y matrix
df = pd.read_csv('descriptors.csv')

In [392]:
df

,name,ABC,ABCGG,nAcid,nBase,SpAbs_A,SpMax_A,SpDiam_A,SpAD_A,SpMAD_A,...,SRW10,TSRW10,MW,AMW,WPath,WPol,Zagreb1,Zagreb2,mZagreb1,mZagreb2
0,NC(=O)c1ncn([C@@H]2C=C(CO)[C@@H](O)[C@H]2O)n1,12.963281,12.248253,0,0,21.174968,2.457054,4.666147,21.174968,1.245586,...,9.696279,65.758522,240.085855,8.278823,515,25,88.0,105.0,7.027778,3.805556
1,NC(=O)c1cn([C@@H]2C=C(CO)[C@@H](O)[C@H]2O)nn1,12.963281,12.248253,0,0,21.174968,2.457054,4.666147,21.174968,1.245586,...,9.696279,65.758522,240.085855,8.278823,515,25,88.0,105.0,7.027778,3.805556
2,NC(=O)c1cn([C@@H]2C=C(CO)[C@@H](O)[C@H]2O)cn1,12.963281,12.248253,0,0,21.174968,2.457054,4.666147,21.174968,1.245586,...,9.696279,65.758522,239.090606,7.969687,515,25,88.0,105.0,7.027778,3.805556
3,Nc1nc(O)c2[nH]cc([C@@H]3C=C(CO)[C@@H](O)[C@H]3...,15.710828,14.057406,0,0,25.397628,2.520227,4.881224,25.397628,1.269881,...,10.082679,70.336447,278.101505,8.179456,753,34,110.0,135.0,7.500000,4.361111
4,O=c1[nH]cc([C@@H]2C=C(CO)[C@@H](O)[C@H]2O)c(=O...,12.963281,11.871195,0,0,21.225622,2.457803,4.799537,21.225622,1.248566,...,9.773208,64.168575,240.074621,8.278435,496,27,88.0,105.0,7.027778,3.805556
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
281,CC(=O)N[C@@H](CC(=O)O)C(=O)N[C@@H](CO)C(=O)N[C...,30.498974,27.458313,2,0,47.980635,2.337951,4.675903,47.980635,1.142396,...,10.220595,78.169497,604.270421,7.369151,6806,59,192.0,210.0,21.166667,9.583333
282,CC(=O)N[C@@H](Cc1cnc[nH]1)C(=O)N[C@@H](CO)C(=O...,32.401515,28.703440,1,0,51.855513,2.341227,4.679766,51.855513,1.178534,...,10.295834,93.631431,626.302390,7.282586,7737,61,206.0,228.0,20.166667,10.000000
283,CC(=O)N[C@@H](CC(N)=O)C(=O)N[C@@H](CO)C(=O)N[C...,30.498974,27.458313,2,0,47.980635,2.337951,4.675903,47.980635,1.142396,...,10.220595,78.169497,605.229284,7.860121,6806,59,192.0,210.0,21.166667,9.583333
284,CC(C)C[C@H](NC(=O)OC1CCN(S(C)(=O)=O)CC1)C(=O)N...,24.215739,20.437222,0,0,38.259791,2.338938,4.675729,38.259791,1.195618,...,10.135670,80.939679,474.214820,7.185073,3357,44,158.0,177.0,13.312500,7.055556
285,CC(C)C[C@H](NC(=O)OC1CCN(S(C)(=O)=O)CC1)C(=O)N...,27.528262,23.476182,1,1,NaN,NaN,NaN,NaN,NaN,...,10.360121,86.802595,578.169230,8.030128,3600004394,52,182.0,205.0,NaN,7.666667

In [393]:
# preprocessing the collected descriptor data

from sklearn.preprocessing import scale

df1 = df.dropna(axis=1)
df2 = df1.dropna(axis=0)
df2

# scaling the descriptors
threshold = 1000

df3=df2.drop(df2.mean()[df2.mean() > threshold ].index.values, axis=1)
df4=df3.drop(df3.mean()[df3.mean()==0 ].index.values, axis=1)
df5=df4.drop('name',axis=1)
df5.describe()

,ABC,ABCGG,nAcid,nBase,nAromAtom,nAromBond,nAtom,nHeavyAtom,nHetero,nH,...,SRW08,SRW09,SRW10,TSRW10,MW,AMW,WPol,Zagreb1,Zagreb2,mZagreb2
count,286.000000,286.000000,286.000000,286.000000,286.000000,286.000000,286.000000,286.000000,286.000000,286.000000,...,286.000000,286.000000,286.000000,286.000000,286.000000,286.000000,286.000000,286.000000,286.000000,286.000000
mean,20.919724,16.859857,0.185315,0.202797,13.276224,13.604895,45.807692,26.944056,7.545455,18.863636,...,8.517530,4.439254,10.176833,71.187004,386.356530,8.751683,42.898601,141.237762,166.356643,5.899233
std,6.008200,4.501045,0.440009,1.060019,6.578321,6.816480,17.095236,7.924447,3.278269,10.514431,...,0.317805,3.429485,0.356448,11.525443,110.309655,1.565157,13.791691,40.045844,47.354787,1.781224
min,6.692130,6.355891,0.000000,0.000000,0.000000,0.000000,15.000000,9.000000,1.000000,4.000000,...,7.181592,0.000000,8.760767,37.736937,126.031694,5.468855,9.000000,42.000000,45.000000,2.000000
25%,16.674162,13.803291,0.000000,0.000000,10.000000,10.000000,34.250000,21.000000,5.000000,12.000000,...,8.299514,0.000000,9.920509,62.158094,298.586405,7.938425,33.000000,112.000000,130.250000,4.569444
50%,18.559325,15.302403,0.000000,0.000000,12.000000,12.000000,43.000000,24.000000,7.000000,16.000000,...,8.576782,6.605298,10.226585,70.931869,362.029197,8.663819,42.000000,130.000000,157.000000,5.361111
75%,24.973986,19.251582,0.000000,0.000000,17.000000,17.000000,51.750000,32.000000,9.000000,20.750000,...,8.745284,7.195187,10.422817,78.996100,456.765513,9.521265,52.000000,168.000000,197.000000,7.020833
max,43.770640,31.893948,2.000000,10.000000,36.000000,36.000000,104.000000,54.000000,20.000000,58.000000,...,9.460866,8.328693,11.188897,101.247585,742.080614,14.960204,104.000000,308.000000,375.000000,11.944444

In [394]:
#scaling the values and storing the data

df4_scaled=scale(df5)
df4_scaled_pd=pd.DataFrame(df4_scaled)
df4_scaled_pd.to_csv('descriptors_scaled.csv',index=False)

In [395]:
df_X = pd.read_csv('descriptors_scaled.csv')
df_X

,0,1,2,3,4,5,6,7,8,9,...,827,828,829,830,831,832,833,834,835,836
0,-1.326585,-1.026359,-0.421899,-0.191650,-1.260311,-1.264579,-0.984903,-1.257058,0.138897,-0.653927,...,-1.442468,0.898685,-1.350538,-0.471825,-1.328325,-0.302646,-1.300056,-1.331751,-1.297951,-1.177475
1,-1.326585,-1.026359,-0.421899,-0.191650,-1.260311,-1.264579,-0.984903,-1.257058,0.138897,-0.653927,...,-1.442468,0.898685,-1.350538,-0.471825,-1.328325,-0.302646,-1.300056,-1.331751,-1.297951,-1.177475
2,-1.326585,-1.026359,-0.421899,-0.191650,-1.260311,-1.264579,-0.926305,-1.257058,-0.166677,-0.558653,...,-1.442468,0.898685,-1.350538,-0.471825,-1.337363,-0.500504,-1.300056,-1.331751,-1.297951,-1.177475
3,-0.868484,-0.623714,-0.421899,-0.191650,-0.651187,-0.529777,-0.691911,-0.877819,0.138897,-0.463379,...,-0.414769,0.931158,-0.264608,-0.073928,-0.983094,-0.366244,-0.646346,-0.781417,-0.663325,-0.865033
4,-1.326585,-1.110277,-0.421899,-0.191650,-1.108030,-1.117619,-0.984903,-1.257058,-0.166677,-0.653927,...,-1.294610,0.748624,-1.134338,-0.610018,-1.328427,-0.302894,-1.154787,-1.331751,-1.297951,-1.177475
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
281,1.597157,2.358793,4.131427,-0.191650,-2.021716,-1.999381,2.120810,1.903267,3.194634,2.013748,...,0.461878,-1.296706,0.122987,0.606895,1.978937,-0.884866,1.169517,1.269825,0.923240,2.071923
282,1.914370,2.635909,1.854764,-0.191650,-1.260311,-1.264579,2.355203,2.156092,3.194634,2.204296,...,0.695746,0.531718,0.334437,1.950794,2.179016,-0.940271,1.314786,1.620037,1.304016,2.306254
283,1.597157,2.358793,4.131427,-0.191650,-2.021716,-1.999381,1.827818,1.903267,3.805781,1.537377,...,0.461878,-1.296706,0.122987,0.606895,1.987645,-0.570630,1.169517,1.269825,0.923240,2.071923
284,0.549548,0.796179,-0.421899,-0.191650,-2.021716,-1.999381,1.183236,0.639137,1.361192,1.442103,...,0.100058,0.610537,-0.115683,0.847670,0.797866,-1.002683,0.080000,0.419310,0.225152,0.650311
285,1.101848,1.472530,1.854764,0.753383,-2.021716,-1.999381,1.534826,1.271202,2.889060,1.537377,...,0.734922,0.610537,0.515108,1.357255,1.741905,-0.461819,0.661076,1.019674,0.817469,0.993998

In [396]:
df_Y = df_2class['pIC50']
df_Y

0      4.000000
1      4.000000
2      4.000000
3      4.000000
4      4.000000
         ...
342    5.000000
343    4.301030
345    4.698970
348    4.540608
349    4.375718
Name: pIC50, Length: 286, dtype: float64

In [397]:
dataset3 = pd.concat([df_X,df_Y], axis=1)
dataset3

,0,1,2,3,4,5,6,7,8,9,...,828,829,830,831,832,833,834,835,836,pIC50
0,-1.326585,-1.026359,-0.421899,-0.19165,-1.260311,-1.264579,-0.984903,-1.257058,0.138897,-0.653927,...,0.898685,-1.350538,-0.471825,-1.328325,-0.302646,-1.300056,-1.331751,-1.297951,-1.177475,4.000000
1,-1.326585,-1.026359,-0.421899,-0.19165,-1.260311,-1.264579,-0.984903,-1.257058,0.138897,-0.653927,...,0.898685,-1.350538,-0.471825,-1.328325,-0.302646,-1.300056,-1.331751,-1.297951,-1.177475,4.000000
2,-1.326585,-1.026359,-0.421899,-0.19165,-1.260311,-1.264579,-0.926305,-1.257058,-0.166677,-0.558653,...,0.898685,-1.350538,-0.471825,-1.337363,-0.500504,-1.300056,-1.331751,-1.297951,-1.177475,4.000000
3,-0.868484,-0.623714,-0.421899,-0.19165,-0.651187,-0.529777,-0.691911,-0.877819,0.138897,-0.463379,...,0.931158,-0.264608,-0.073928,-0.983094,-0.366244,-0.646346,-0.781417,-0.663325,-0.865033,4.000000
4,-1.326585,-1.110277,-0.421899,-0.19165,-1.108030,-1.117619,-0.984903,-1.257058,-0.166677,-0.653927,...,0.748624,-1.134338,-0.610018,-1.328427,-0.302894,-1.154787,-1.331751,-1.297951,-1.177475,4.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
342,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.000000
343,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.301030
345,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.698970
348,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.540608
349,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.375718

In [402]:
dataset3 = dataset3.dropna(axis=0)

In [403]:
dataset3.to_csv('final_draft.csv', index=False)